.clearfix
  content: ''
  display: block
  height: 0
  clear: both
.item-content
  width:70%/*不在组件内部设置宽度，取决于外层容器宽度*/
  background-color:#f8f8f8
  font-size:20px
  margin:0 auto
  height: 50px
  line-height: 50px
  .td
    float:left
    min-height:50px
    width:130px
    padding-right:40px
  .td-name
    padding-left:65px

