.amount-wrapper
 padding-top :11px;
 .item-amount
   height: 25px
   width: 77px;
   overflow: hidden
   position: relative
   z-index: 1
   a
     display: block;
     height: 23px;
     width: 17px;
     border: 1px solid #e5e5e5;
     background: #f0f0f0;
     text-align: center;
     line-height: 23px;
     color: #444;
     position: absolute;
     top: 0;
   .pro_minus
     border-right-color: transparent;
     left: 0;
     color: #e5e5e5;
     float: left;
   .text-amount
     float: left;
     width: 39px;
     height: 15px;
     line-height: 15px;
     border: 1px solid #aaa;
     color: #343434;
     text-align: center;
     padding: 4px 0;
     background-color: #fff;
     background-position: -75px -375px;
     position: absolute;
     z-index: 2;
     left: 18px;
     top: 0;
   .pro_plus
     border-left-color: transparent;
     right: 0;


